.rodape {
    border-top: 1px solid var( --preto);
    display: flex;
    justify-content: center;
    background-color: var(--verde-escuro);
    color: var(--branco);

}

.rodape__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


.rodape__texto {
    margin: 1rem;
    color: var( --cinza-medio);
}


.rodape__imagens-itens {
    display: flex;
    margin: 1rem;

}

.rodape-link {
    margin: 0 0.5rem;
    color: var(--preto);

}

.rodape__icones {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.rodape__icones-lista {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
.rodape__icones-svg{
    color: var(--lilas);
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-right: 0.5rem;
}

